body {
    margin: 0;
    font: 17px/30px Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #535353;
}

a:hover {
    color: #7b7b7b;
}

.page {
    margin: 0 auto;
    padding: 0 5px;
    width: 100%;
    max-width: 690px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    padding: 50px 0 10px;
}

.body {
}

.topMenu {
    margin: 0 0 0 10px;
    list-style: none;
}

.topMenu__tab {
    margin: 0 15px 0 0;
    display: inline-block;
    font-size: 1.12em;
    font-weight: 700;
}

.topMenu__tab a {
    display: inline-block;
    padding: 0 2px;
}

.topMenu__tab._disable {
    color: #d3d3d3;
    cursor: default;
}

.topMenu__tab._current a {
    border-bottom: 2px solid #535353;
}

.topMenu__tab._current a:hover {
    border-bottom: 2px solid #7b7b7b;
}

.mainPage {

}

.mainPage__article {

}

.mainPage__article h2 {
    margin: 20px 0;
    font-size: 1.59em;
    line-height: 1.11em;
    font-weight: 700;
}

.mainPage__articleDescription {

}

.mainPage__readButton {
    font-weight: 700;
}

.mainPage__articleDate {
    color: #7f7f7f;
    font-size: 0.88em;
}

.article {

}

.article h2 {
    margin: 20px 0;
    font-size: 1.59em;
    line-height: 1.11em;
    font-weight: 700;
    color: #535353;
}

.article p {
    margin: 40px 0;
}

.article li {
    margin: 0 0 0 25px;
    list-style: square outside;
}

.article ul {
    margin: 20px 0;
}

.article__img {
    margin: 30px 0;
    text-align: center;
}

.article__imgDesc {
    text-align: center;
    font-style: italic;
}

.article__text {

}

.article__bottom {
    margin: 0 0 10px;
}

.article__date {
    display: inline-block;
    color: #7f7f7f;
    font-size: 0.88em;
}

.article_toTopButton {
    display: inline-block;
    cursor: pointer;
    color: #535353;
    
}

.article_toTopButton:hover {
    color: #7b7b7b;
}