body {
    margin: 0;
    font: 17px/30px Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #535353;
}

a:hover {
    color: #7b7b7b;
}

.page {
    margin: 0 auto;
    padding: 0 5px;
    width: 690px;
}

.header {
    padding: 50px 0 10px;
}

.body {
}

.topMenu {
    margin: 0 0 0 10px;
    list-style: none;
    font-size: 0;
}

.topMenu__tab {
    margin: 0 15px 0 0;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
}

.topMenu__tab a {
    display: inline-block;
    padding: 0 2px;
}

.topMenu__tab._disable {
    color: #d3d3d3;
    cursor: default;
}

.topMenu__tab._current a {
    border-bottom: 2px solid #535353;
}

.topMenu__tab._current a:hover {
    border-bottom: 2px solid #7b7b7b;
}

.mainPage {

}

.mainPage__article {

}

.mainPage__article h2 {
    margin: 20px 0;
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
}

.mainPage__articleDescription {

}

.mainPage__articleDate {
    color: #7f7f7f;
    font-size: 15px;
}

.article {

}

.article h2 {
    margin: 20px 0;
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: #535353;
}

.article__text {

}

.article__date {
    color: #7f7f7f;
    font-size: 15px;
}

.author__contacts {
    margin: 0 0 0 25px;
    list-style: square outside;
}